<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="myCustomGroup">
      <section name="myCustomSection" type="CustomConfigurations.ConfigurationLoader, CustomConfigurations" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <myCustomGroup>
    <myCustomSection>
      <ValueItems>
        <ValueItem key="key2" value="value2" />
        <ValueItem key="key3" value="value3" />
        <ValueItem key="key4" value="value4" />
        <ValueItem key="key5" value="7" />
        <ValueItem key="key6" value="0.6" />
      </ValueItems>
    </myCustomSection>
  </myCustomGroup>

</configuration>